<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>SASwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>artworkEnabled</string>
            <key>label</key>
            <string>Enabled</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>


        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>SAAppListController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Disabled apps</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Background</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>se.nosskirneh.springartwork</string>
            <key>key</key>
            <string>artworkBackgroundMode</string>
            <key>validTitles</key>
            <array>
                <string>Blurred image</string>
                <string>Matching color</string>
                <string>Static color</string>
            </array>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>0</string>
                <string>2</string>
            </array>
            <key>default</key>
            <string>1</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>

        <dict>
            <key>id</key>
            <string>staticColor</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFSimpleLiteColorCell</string>
            <key>libcolorpicker</key>
            <dict>
                <key>defaults</key>
                <string>se.nosskirneh.springartwork</string>
                <key>key</key>
                <string>staticColor</string>
                <key>fallback</key>
                <string>#000000</string>
                <key>alpha</key>
                <true/>
                <key>PostNotification</key>
                <string>se.nosskirneh.springartwork/settingsChanged</string>
            </dict>
            <key>label</key>
            <string>Static color</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>SASwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>onlyBackground</string>
            <key>label</key>
            <string>Only background</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>

        <!-- Colors -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>colors</string>
            <key>label</key>
            <string>Colors</string>
        </dict>

        <!-- Blur coloring mode -->
        <!-- Content dynamically added here -->

        <!-- Override text color -->
        <dict>
            <key>id</key>
            <string>overrideTextColorMode</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>defaults</key>
            <string>se.nosskirneh.springartwork</string>
            <key>key</key>
            <string>overrideTextColorMode</string>
            <key>label</key>
            <string>Override text color</string>
            <key>validTitles</key>
            <array>
                <string>Inherit from blur option</string>
                <string>Force white</string>
                <string>Force black</string>
            </array>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
            <key>default</key>
            <string>0</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>

        <!-- Blur radius -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Blur radius</string>
        </dict>
        <dict>
            <key>id</key>
            <string>blurRadius</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>se.nosskirneh.springartwork</string>
            <key>key</key>
            <string>blurRadius</string>
            <key>isSegmented</key>
            <true/>
            <key>segmentCount</key>
            <integer>25</integer>
            <key>showValue</key>
            <true/>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>25</integer>
            <key>default</key>
            <string>22</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>


        <!-- Animate -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Animate</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>Spins the artwork like a CD. Overrides custom corner radius below.</string>
        </dict>
        <dict>
            <key>id</key>
            <string>animateArtwork</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>SASwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>animateArtwork</string>
            <key>label</key>
            <string>Animate artwork</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>


        <!-- Corner radius -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Corner radius</string>
        </dict>
        <dict>
            <key>id</key>
            <string>artworkCornerRadiusPercentage</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>se.nosskirneh.springartwork</string>
            <key>key</key>
            <string>artworkCornerRadiusPercentage</string>
            <key>isSegmented</key>
            <true/>
            <key>segmentCount</key>
            <integer>20</integer>
            <key>showValue</key>
            <true/>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>100</integer>
            <key>default</key>
            <string>10</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>


        <!-- Artwork width percentage -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Artwork width percentage</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>se.nosskirneh.springartwork</string>
            <key>key</key>
            <string>artworkWidthPercentage</string>
            <key>isSegmented</key>
            <true/>
            <key>segmentCount</key>
            <integer>8</integer>
            <key>showValue</key>
            <true/>
            <key>min</key>
            <integer>20</integer>
            <key>max</key>
            <integer>100</integer>
            <key>default</key>
            <string>70</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>

        <!-- Artwork y-coordinate offset -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Artwork y coordinate offset</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>Percentage of screen height in which the artwork image will be offsetted from the center of the screen. 0 % means the artwork will stay in the center of the screen. -50 % would make the artwork center be at the top of the screen, and 50 % would place it at the bottom of the screen.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>defaults</key>
            <string>se.nosskirneh.springartwork</string>
            <key>key</key>
            <string>artworkYOffsetPercentage</string>
            <key>isSegmented</key>
            <true/>
            <key>segmentCount</key>
            <integer>20</integer>
            <key>showValue</key>
            <true/>
            <key>min</key>
            <integer>-50</integer>
            <key>max</key>
            <integer>50</integer>
            <key>default</key>
            <string>0</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/settingsChanged</string>
        </dict>
    </array>
    <key>title</key>
    <string>Normal artwork</string>
</dict>
</plist>
