<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>SASwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>canvasEnabled</string>
            <key>label</key>
            <string>Enabled</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/preferencesChanged</string>
        </dict>


        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>By default, Spotfiy only downloads the video when having the player visible.

Enabled: If the video is not already downloaded, only download it on WiFi.
Disabled: Always download video artwork.
            </string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>SASwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>canvasOnlyWiFi</string>
            <key>label</key>
            <string>Data saver</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.springartwork/spotifySettingsChanged</string>
        </dict>
    </array>
    <key>title</key>
    <string>Video artwork</string>
</dict>
</plist>
